<div>
  <%= form_with url: notify_participants_path, class: "flex flex-row" do |f| %>
    <%= f.text_field :event_id, value: @event.id, class: "hidden" %>
    <%= f.text_field :content, class: "flex-grow block outline-none py-4 px-4" %>
    <%= f.submit class: "button rounded-r-full m-2" %>
  <% end %>
</div>

<div class="list">
  <% @event.participations.each do |participation| %>
    <div>
      <p><%= participation.user.email %></p>
      <% if !participation.is_banned? %>
        <div>
          <%= button_to "Ban", participation_path(participation), method: "patch" %>
          <%= button_to "Blacklist", add_to_blacklist_path(participation.user), method: "post" %>
        </div>
      <% else %>
        <div>
          <%= button_to "Unban", participation_path(participation), method: "patch" %>
          <%= button_to "Remove from blacklist", add_to_blacklist_path(participation.user), method: "post" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>