<div class="list">
  <% @event.participations.each do |participation| %>
    <div>
      <p><%= participation.user.email %></p>
      <% if !participation.is_banned? %>
        <div>
          <%= button_to "Ban", participation_path(participation), method: "patch" %>
          <%= button_to "Blacklist", add_to_blacklist_path(participation.user), method: "post" %>
        </div>
      <% else %>
        <div>
          <%= button_to "Unban", participation_path(participation), method: "patch" %>
          <%= button_to "Blacklist", add_to_blacklist_path(participation.user), method: "post" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>