<nav class="navbar">

  <label for="menu-toggle" class="cursor-pointer md:hidden block">
    <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

  <div class="navbar-menu-left">
    <ul>
      <li><a href="#">Shop</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>

  <div class="navbar-logo">
    <a href="/">DBGEVENTS</a>
  </div>

  <div class="navbar-menu-right">
    <% if user_signed_in? %>
      <div>
        <% unless current_page?(notifications_path) %>
          <div class="dropdown">
            <button>
              <svg viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M381.7,225.9c0-97.6-52.5-130.8-101.6-138.2c0-0.5,0.1-1,0.1-1.6c0-12.3-10.9-22.1-24.2-22.1c-13.3,0-23.8,9.8-23.8,22.1   c0,0.6,0,1.1,0.1,1.6c-49.2,7.5-102,40.8-102,138.4c0,113.8-28.3,126-66.3,158h384C410.2,352,381.7,339.7,381.7,225.9z"/><path d="M256.2,448c26.8,0,48.8-19.9,51.7-43H204.5C207.3,428.1,229.4,448,256.2,448z"/></g></svg>
            </button>
            <%= turbo_stream_from current_user, :notifications %>
            <%= turbo_frame_tag "notifications", src: notifications_path %>
          </div>
          
        <% end %>
      </div>
      <div class="dropdown">
        <button>
          <span><%= current_user.email %></span>
          <svg viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
        </button>
        <ul>
          <li><%= link_to "Messages", chat_rooms_path %></li>
          <li><%= link_to "Joined Events", joined_events_path %></li>
          <% if current_user.is_organizer? %>
            <li><%= link_to "New Event", new_event_path %></li>
            <li><%= link_to "Created Events", created_events_path %></li>
            <li><%= link_to "Blacklist", blacklist_path %></li>
          <% end %> 
          <li><%= link_to "Edit profile", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, "data-turbo-method": :delete %></li>
        </ul>
      </div>
    <% else %>
      <ul>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</nav>