<h1><%= @event.name %></h1>

<p>Created by <%= @event.organizer.email %></p>
<p><%= @event.start_date %></p>
<p><%= @event.end_date %></p>
<p><%= @event.max_participants %></p>
<p><%= @event.street %></p>
<p><%= @event.city %></p>
<p><%= @event.state %></p>
<p><%= @event.country %></p>
<p><%= @event.latitude %></p>
<p><%= @event.longitude %></p>
<p><%= @event.address %></p>

<% if user_signed_in? %>
  <% if @event.joined?(current_user) %>
    <%= button_to "Leave", participation_path(@participation), method: "delete" %>
  <% else %>
    <%= button_to "Join", event_participations_path(@event), method: "post" %>
  <% end %>

  <% if @participation %>
    <% @participation.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "Log in", new_user_session_path %> to join this event.
<% end %>